body{
    background-color: #000;
    overflow: hidden;
}
.ingredients-item, .country, .food-img-disc, .categories-img-disc {
    cursor: pointer;
}
#toggle{
    cursor: pointer;
}
.side-nav {
    position: fixed;
    top: 0;
    width: 60px;
    height: 100%;
    background-color: #fff;
    z-index: 999999;
}
.container {
    left:30px;
}
.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    z-index: 5555;
}
.side-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.side-menu ul li {
    opacity: 1;
    padding-top: 0px;
    position: relative;
    top: 100%;
}
.side-menu ul li a {
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.side-menu ul li a:hover {
    color: #ccc !important;
}
.img-layer{
    background-color: rgb(255, 255, 255, 0.5);
    top: 100%;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: top 0.5s ease-in-out;
}
.food-img-disc:hover  .img-layer , .categories-img-disc:hover .img-layer{
    top: 0;
}
#search input, #contact-form input[type=text], #contact-form input[type=password]  {
    background-color: #000;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    border-radius: 0;
}
#search input:focus, #contact-form input[type=text]:focus, #contact-form input[type=password]:focus  {
    box-shadow: 0px 0px 15px 5px rgba(221,221,221,0.3);;
}
#search input::placeholder, #contact-form input[type=text]::placeholder, #contact-form input[type=password]::placeholder  {
    text-align: center;
}
.ingredients-item i{
    font-size: 4em;
}
@media screen and (max-width: 720px) {
    #contact-form .row {
        width: 100% !important;
    }
}
#contact-form input[type=submit]{
    transition: all 0.3s ease-in;
}
#contact-form input[type=submit]:hover{
    background-color: #fff;
    color: #000 !important;
}
#loading{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 998998;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: aliceblue;
}

  .spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: aliceblue;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

  .home-button{
    position: fixed;
    z-index: 999999999;
    color: #fff;
    right: 10px;
    top: 25px;
  }
  .home-button a:hover{
    color: #ddd !important;
  }